
#controls {
  width: 100%;
}

#player-controls{
  display: table;
  height:50px;
  width: 50%;
  color: #000;
  padding-bottom: 24px;
  background-color: #fff;
  float:left;
}

.play-button,
.next-button,
.previous-button,
.shuffle-button {
  width:25%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin-top: 0;
}

i {
  cursor: pointer;
}

.shuffle {
  color: tomato;
}

i:hover {
  cursor: pointer;
}